
{% extends 'base.html' %}
{% load static %}
{% block title %} 
 <title>home  page</title>
{% endblock title%}
{% block content %} 
<div class="container mt-1 mb-5">
<div class="row  mt-2">
   <div class="col-12">
        <center>
         <img style='height: 100%; width: 100%; object-fit: contain'  class="shadow-sm rounded float-left" src="{% static 'images/invest.gif' %}" />
       </center>
   </div>
</div>
<div class="row mt-2">
   <div class="col-md-10 offset-md-1" style=" position: absolute;
   left: 300px;
   top: 400px;
   z-index: 1;">
        <center>
         <br/>
           <h4 class="text-primary"> We are here for you </h4>
           <form action="" method="post">
            <table class="mt-5 mb-2">
               <tr><td>Mobile no</td><td><input class="form-control form-control-sm " type="text" placeholder=" valid mobile number"/> </td></tr>
               <tr><td>Choose date</td><td><input class="form-control form-control-sm" type="date"/></td><td> <button type="button" class="shadow-sm rounded  btn btn-primary btn-sm">Get a call</button></a></td>  </tr> 
            </form>
         </table>
           <h5> Invest smartly with us for great returns</h5>
           <a href="{% url 'todolist' %}"><button type="button" class="shadow-lg p-3 mb-5  rounded mt-3 btn btn-primary btn-lg">Let's Get Started</button></a>
        </center>
   </div>
</div>
     <div class="row">
         <div class="col-lg-4">
          <img class="shadow-sm rounded float-left" src="{% static 'images/inv1.jpeg' %}" height="300" width="370"/>
         </div>
         <div class="col-lg-4">
            <img class="shadow-sm rounded float-left" src="{% static 'images/inv2.jpeg' %}" height="300" width="370"/>
        </div>
        <div  class="col-lg-4">
            <img class=" shadow-sm rounded float-left" src="{% static 'images/inv3.jpeg' %}" height="300" width="370"/>
        </div>   
     </div>
     
     
</div>
{% endblock content %}